################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OdeToFood/.vs/OdeToFood/v15/Server/sqlite3
