@model  OdeToFood.ViewModel.HomePageViewModel


@{
    ViewBag.Title = "Home";

}

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)

}

<div>
    <a asp-controller="Home" asp-action="Create">Create</a>

</div>


